<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generos</title>
    <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link href="../css/pantalla-2.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <main class="container-fluid">
      <nav class="col-12 col-sm-12 col-md-12 col-lg-12">
       <img class="col-4 col-sm-4 col-md-2 col-lg-2" src="../assets/images/logo.png" alt="logo">
         <i class="pull-right fa fa-bars"></i>
      </nav>
     <div class="text-center title">
      <h1 class="display-4">GENDER</h1>
     </div>
     <div id="gender1" class="text-center">
      <a href="../views/pantalla-3.html"><h2>TERROR</h2></a>
     </div>
     <div id="gender2" class="text-center">
      <a href="../views/pantalla-3.html"><h2>DRAMA</h2></a>
     </div>
     <div id="gender3" class="text-center">
      <a href="../views/pantalla-3.html"><h2>ROMANCE</h2></a>
     </div>
     <div id="gender4" class="text-center">
      <a href="../views/pantalla-3.html"><h2>COMEDY</h2></a>
     </div>
     <div id="gender5" class="text-center">
      <a href="../views/pantalla-3.html"><h2>CHILDREN</h2></a>
     </div>
     <div id="gender6" class="text-center">
      <a href="../views/pantalla-3.html"><h2>FANTASY</h2></a>
     </div>
     <div id="gender7" class="text-center">
      <a href="../views/pantalla-3.html"><h2>ACTION</h2></a>
     </div>
     <div id="gender8" class="text-center">
      <a href="../views/pantalla-3.html"><h2>SCIENCE FICTION</h2></a>
     </div>
     <div id="gender9" class="text-center">
      <a href="../views/pantalla-3.html"><h2>THRILLER</h2></a>
     </div>
     <div id="gender10" class="text-center">
      <a href="../views/pantalla-3.html"><h2>ART</h2></a>
     </div>
     <div id="gender11" class="text-center">
      <a href="../views/pantalla-3.html"><h2>HISTORICAL</h2></a>
     </div>
     <div id="gender12" class="text-center">
      <a href="../views/pantalla-3.html"><h2>DOCUMENTALE</h2></a>
     </div>
     <footer class="col-12 col-sm-12 col-md-12 col-lg-12">
       <div class="offset-4 credits">
           <h4 class="offset-2">CREDITS</h4>
           <div class="row brenda">
            <h5>BRENDA MILIÁN</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
           </div>
         <div class="row elz">
           <h5>ELZBETH PERÉZ BLANCO</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
         </div>
         <div class="row may">
           <h5>MARÍA CRAVIOTTO</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
         </div>
         <div class="row sonia">
           <h5>SONIA GAMA</h5><p>BY</p> <a href="#"><h6>LABORATORIA MÉXICO</h6></a>
         </div>
       </div>
     </footer>

    </main>

    <!--SCRIPTS-->
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
