<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lettering Life</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main>
    <!--NAV BAR-->
    <nav id="desktop-nav" class="header bkg-aqua2 text-ivory ">
      <!--DESKTOP MENU-->
      <div class="container ">
        <div class="nav-wrapper ">
          <a href="#" class="brand-logo nav-logo"><img src="../assets/images/llifeivory.png" alt="logo-ivory"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class=" fa fa-bars fa-2x text-ivory"></i></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a id="home-btn" href="home.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Home">
                <i class="fa fa-home text-ivory"></i>
              </a>
            </li>
            <li>
              <a id="profile-btn" href="profile.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Profile">
                <i class="fa fa-user"></i>
              </a>
            </li>
            <li>
              <a id="friends-btn" href="friends.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Friends">
                <i class="fa fa-users"></i>
              </a>
            </li>
            <li>
              <a id="gallery-btn" href="gallery.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Gallery">
                <i class="fa fa-photo"></i>
              </a>
            </li>
            <li>
              <a id="notifications-btn" href="notifications.html"class=" tooltiped" data-position="bottom" data-delay="50" data-tooltip="Notifications">
                <i class="fa fa-bell"></i>
              </a></li>
              <li>
                <a id="events-btn" href="events.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Events">
                  <i class="fa fa-calendar"></i>
                </a>
              </li>
              <li>
                <a id="settings-btntn" href="settings.html" class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Settings">
                  <i class="fa fa-gear"></i>
                </a>
              </li>
              <li>
                <a id="logout-btn" href="logout.html" class="btn btn-flat text-ivory" id="logout-nav">Logout</a></li>
              </ul>
              <!--/DESKTOP MENU-->
              <!--MOBILE MENU-->
              <ul class="side-nav col s6 m3 bkg-aqua2" id="mobile-demo">
                <li><a id="home-btn" href="home.html">Home<i class="fa fa-home"></i></a></li>
                <li><a id="profile-btn" href="profile.html">Profile<i class="fa fa-user"></i></a></li>
                <li><a id="friends-btn" href="friends.html">Friends<i class="fa fa-users"></i></a></li>
                <li><a id="gallery-btn" href="gallery.html">Gallery<i class="fa fa-photo"></i></a></li>
                <li><a id="notifications-btn" href="notifications.html">Notifications<i class="fa fa-bell"></i></a></li>
                <li><a id="events-btn" href="events.html">Events<i class="fa fa-calendar"></i></a></li>
                <li><a id="settings-btntn" href="settings.html" >Settings<i class="fa fa-gear"></i></a></li>
                <div class="row center">
                  <a id="logout-btn" href="logout.html" class="btn" id="logout-nav2">Logout</a>
                </div>
              </ul>
              <!--/MOBILE MENU-->
            </div>
          </div>
        </nav>
        <!--/NAV BAR-->
        <!--SETTINGS-->
        <section id="home" class="container-fluid view">
          <div class="row">
            <div class="col s10 offset-s1 m6 offset-m3">
              <div id="user-data"class="card-panel">
                <div class="row">
                  <label for="Username">Your username (required).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="username" value="">
                </div>
                <div class="row">
                  <label for="Email">Your email (required).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="email" value="">
                </div>
                <div class="row">
                  <label for="Password">Your password (required).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                </div>
                  <input type="text" name="password" value="">
                </div>
                <div class="row">
                  <label for="Confirm Password">Confirm your password</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="confirm-password" value="">
                </div>
                <div class="row">
                  <label for="Bio">Something about you (max 600 char.)</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <textarea name="bio" value="" class="mt-20 mb-20"></textarea>
                </div>
                <div class="row">
                  <label for="Facebook-Account">Facebook Account (optional).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="facebook-account" value="">
                </div>
                <div class="row">
                  <label for="Twitter-Account">Twitter Account (optional).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="twitter-account" value="">
                </div>
                <div class="row">
                  <label for="Instagram-Account">Instagram Account (optional).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="instagram-account" value="">
                </div>
                <div class="row">
                  <label for="Behance-Account">Behance Account (optional).</label>
                  <div class="row">
                  <a class="btn btn-flat bkg-black text-ivory right settings-btn">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a class="btn btn-flat bkg-aqua1 text-ivory right settings-btn">
                    <i class="fa fa-save"></i>
                  </a>
                </div>
                  <input type="text" name="behance account" value="">
                </div>
                <div class="row">
                  <a class="btn btn-large bkg-aqua1">Save</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!--/SETTINGS-->
      <!--FOOTER-->
      <footer class="site-footer">
        <div class="container">
          <!-- languages-->
          <div class="row">
            <div class="col s12 l3 center-align">
              <a id="language-btn" class="dropdown-button btn btn-flat bolder mb-40" href="#" data-activates="language">Language</a>
              <ul id="language" class="dropdown-content">
                <li><a href="#!">English</a></li>
                <li><a href="#!">Spanish</a></li>
              </ul>
            </div>
            <!-- /languages-->
            <!--copyright-->
            <div class="row center">
              <div class="col s12 center mt-40 ">
                <a href="www.laboratoria.la" class="text-aqua2">&copy;Laboratoria 2018</a>
              </div>
            </div>
            <!--/copyright-->
          </div>
        </div>
      </footer>
      <!--/FOOTER-->
      <!--SCRIPTS-->
      <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="../js/jquery.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/app.js"></script>
    </body>
    </html>
